workflows/Relatorios___Gipsyy.json
{
  "name": "Relatorios - Gipsyy",
  "nodes": [
    {
      "parameters": {
        "path": "relatorios",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "60955b84-dfda-4045-a9b8-1530b7750103",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -820,
        -100
      ],
      "webhookId": "c58182d5-83d6-49f0-b9f0-0003350791ac"
    },
    {
      "parameters": {
        "fromEmail": "pedrosa.mth@gmail.com",
        "toEmail": "mth.pedrosa@outlook.com",
        "subject": "Relatorio Produtos/Categorias",
        "text": "Segue em anexo relatório gerado.",
        "options": {}
      },
      "id": "884faeae-7908-42d1-ad05-b7985d1470b1",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        780,
        -140
      ],
      "credentials": {
        "smtp": {
          "id": "13",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "produtos",
          "mode": "name"
        },
        "where": {
          "values": [
            {
              "column": "={{ $json.filtro }}",
              "value": "={{ $json.valor }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bde53639-eb09-4760-a8ce-020fe676d480",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -340,
        -80
      ],
      "credentials": {
        "mySql": {
          "id": "10",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toFile",
        "binaryPropertyName": "RelatorioCategorias",
        "options": {}
      },
      "id": "71a71bb3-14be-4e67-8bcb-a6b4afddf5f8",
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -160,
        -80
      ]
    },
    {
      "parameters": {
        "functionCode": "//Verifica lugares para enviar o relatorio \nvar envios = {}\nvar opcoes =  $node.Webhook.json.query.opcoes\n\nenvios.email = 0\n//Email\ntry{\n  envios.email = opcoes.includes(\"email\") ? 1:0;\n}catch{}\n\nreturn envios;"
      },
      "id": "fe729ccc-427d-4648-b64f-fb076faffb6a",
      "name": "Map1",
      "type": "n8n-nodes-base.function",
      "position": [
        360,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.email }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "671d8c62-9a03-4a36-beda-1918c3275503",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "1576e5a7-9533-484f-9252-dbd498c6b555",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20,
        -80
      ]
    },
    {
      "parameters": {
        "path": "relatorios-categorias",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "faebd131-ac27-42ce-b56b-0ce3b985425d",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -820,
        100
      ],
      "webhookId": "c58182d5-83d6-49f0-b9f0-0003350791ac"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "categorias",
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "67cbf0b9-a863-43bf-b928-98b3877bf2a3",
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.1,
      "position": [
        -640,
        100
      ],
      "credentials": {
        "mySql": {
          "id": "10",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toFile",
        "binaryPropertyName": "RelatorioCategorias",
        "options": {}
      },
      "id": "7745a1ce-de09-477f-9d1b-dabb67d31523",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -460,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "55df3826-d51e-498e-a836-f7cfa8eabe26",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -280,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hooks.slack.com/services/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",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Relatorio de categorias criado com sucesso!"
            }
          ]
        },
        "options": {}
      },
      "id": "ef5f99ce-add2-453e-87ec-1e3c3436da19",
      "name": "PostSlack1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -80,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hooks.slack.com/services/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",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Relatorio de produtos com o filtro \"{{ $('Webhook').item.json.query.filtro }}\" criado com sucesso!"
            }
          ]
        },
        "options": {}
      },
      "id": "39fcb748-8061-4512-9e39-63f577f53cbe",
      "name": "PostSlack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        200,
        -80
      ]
    },
    {
      "parameters": {
        "functionCode": "var query = $node.Webhook.json.query\nvar retorno = {}\nretorno.filtro = query.filtro\nretorno.erro = false;\n\nswitch (query.filtro) {\n  case \"avaliacao\":\n    if(!!query.avaliacao){\n      retorno.valor =  Number (query.avaliacao)\n    }else{\n      retorno.erro = \"true\"\n      retorno.mensagem = \"Filtro sem valor\"\n    }\n    break;\n  case \"categoria\":\n    retorno.valor =  query.categoria\n    break;\n  default:\n    console.log(\"O valor é diferente de 1, 2 e 3\");\n    break;\n}\n\nreturn retorno"
      },
      "id": "6bcd6cd3-08eb-4629-a5b9-644ba4af250d",
      "name": "Map",
      "type": "n8n-nodes-base.function",
      "position": [
        -660,
        -100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "08fee7d4-e239-49d6-b951-c5f3c100ad90",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -520,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<script> alert(\"Preencha o campo do filtro\"); window.parent.location = \"http://localhost/formularioteste.php\"; </script>",
        "options": {}
      },
      "id": "d1def6d8-e125-4e11-ba4d-1f98219dc1ef",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -340,
        -220
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "PostSlack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "PostSlack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostSlack": {
      "main": [
        [
          {
            "node": "Map1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "24"
  },
  "versionId": "b44bd625-87ec-463b-b695-705fcdda8cb1",
  "id": "22",
  "meta": {
    "instanceId": "3359013736477c9d377ce906eaf4d600bbe2d640c6610fa1a1ef5878167b94f0"
  },
  "tags": []
}